<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row g-2 mb-3">
      <div class="col-12 col-lg-4">
        <section class="card">
          <h5 class="card-header">Información Básica</h5>
          <div class="card-body">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" id="nombre" formControlName="nombre" class="form-control"
                [class.is-invalid]="form.get('nombre')?.touched && form.get('nombre')?.invalid">
              @if (form.get('nombre')?.touched && form.get('nombre')?.errors?.['required']) {
              <div class="invalid-feedback">El nombre es requerido.</div>
              }
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea id="descripcion" formControlName="descripcion" class="form-control" rows="3"></textarea>
            </div>
            <div class="row g-2">
              <div class="col-md-6 mb-3">
                <label for="categoria" class="form-label">Categoría</label>
                <select id="categoria" formControlName="categoria" class="form-select">
                  <option value="Contaminantes">Contaminantes</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="subcategoria" class="form-label">Subcategoría</label>
                <input type="text" id="subcategoria" formControlName="subcategoria" class="form-control"
                  [class.is-invalid]="form.get('subcategoria')?.touched && form.get('subcategoria')?.invalid">
                @if (form.get('subcategoria')?.touched && form.get('subcategoria')?.errors?.['required']) {
                  <div class="invalid-feedback">La subcategoría es requerida.</div>
                }
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-12 col-lg-8">
        <section class="card">
          <div class="card-header">
            <h5 class="d-inline">Ubicación</h5>
            <button type="button" class="btn btn-sm btn-link py-0 px-1 align-bottom"
                title="Detectar Ubicación"
                    (click)="detectarUbicacion()" [disabled]="detectando()">
              @if (detectando()) {
                <span class="spinner-border spinner-border-sm" role="status" aria-label="Detectando Ubicación"> </span>
              } @else {
                <fa-icon [icon]="faLocationCrosshairs" alt=""></fa-icon>
              }
            </button>
          </div>
          <div class="card-body p-0">
            <div id="map" #mapContainer style="height: 500px; width: 100%;"></div>
          </div>
          <div class="card-footer small">
            @let latitud = form.get('latitud');
            @let longitud = form.get('longitud');

            @if ((latitud?.touched && latitud?.errors?.['required']) ||
                   (longitud?.touched && longitud?.errors?.['required'])) {
              <div class="text-danger">Seleccione una ubicación en el mapa</div>
            } @else {
              Haga clic en el mapa para ajustar la ubicación.
            }
          </div>
        </section>
      </div>
    </div>
  <app-fixed-footer>
    <div class="d-flex justify-content-end w-100">
      <div class="ms-auto">
        <a role="button" class="btn" [routerLink]="['/puntos']">Cancelar</a>
        <button type="submit" class="btn btn-primary" [disabled]="guardando()">
          Guardar
          @if (guardando()) {
            <span class="spinner-border spinner-border-sm ms-2" role="status">
              <span class="visually-hidden">Guardando</span>
            </span>
          }
        </button>
      </div>
    </div>
  </app-fixed-footer>
</form>
