<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">App</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapse()" title="Navegación">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (link of links; track link.route) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="link.route" routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="isNavbarCollapsed.set(true)" ariaCurrentWhenActive="page">
              {{ link.title }}
            </a>
          </li>
        }
      </ul>

      @if (user(); as user) {
        <app-user-menu [user]="user" />
        <span class="vr mx-2"></span>
      }
      <app-settings-menu />
    </div>
  </div>
</nav>
<!-- aquí se renderizan los componentes navegables -->
<router-outlet></router-outlet>
