<main class="container-fluid">
  <h1>Usuario #{{ userId() }}</h1>

  @if (user.isLoading()) {
    <div class="alert alert-light">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </div>
  }
  @if (user.error(); as e) {
    <div class="alert alert-danger" role="alert">
      <strong>No se pudo cargar el usuario</strong>
      <div>{{ getUserFriendlyErrorMessage(e, 'Usuario') }}</div>
    </div>
  }
  @if (user.hasValue() && user.value(); as user) {
    <div class="card">
      <h5 class="card-header">Información Básica</h5>
      <div class="card-body">
        <dl>
          <div class="mb-3">
            <dt>Correo Electrónico</dt>
            <dd>{{ user.email }}</dd>
          </div>
          <div class="mb-3">
            <dt>Nombre Completo</dt>
            <dd>{{ user.fullname }}</dd>
          </div>
          <div class="mb-3">
            <dt>Roles</dt>
            <dd>
              @for (role of user.roles; track role.id) {
              <span class="badge text-bg-primary">{{ role.nombre }}</span>
              } @empty {
              <span class="text-muted">Sin roles asignados</span>
              }
            </dd>
          </div>
          <div class="row g-2">
            <div class="col-12 col-md-6 mb-3">
              <dt>Fecha de Alta</dt>
              <dd>{{ user.createdAt | date:'dd/MM/y HH:mm' }}</dd>
            </div>
            <div class="col-12 col-md-6 mb-3">
              <dt>Última Modificación</dt>
              <dd>{{ user.updatedAt | date:'dd/MM/y HH:mm' }}</dd>
            </div>
          </div>
        </dl>
      </div>
      <div class="card-footer" #buttons>
        <div class="d-flex justify-content-end">
          <a role="button" class="btn focus-ring" [routerLink]="['/users']">Volver</a>
          <a [routerLink]="['/users', user.id, 'edit']" class="btn btn-primary me-1">Editar</a>
        </div>
      </div>
      <app-scroller [scrollable]="buttons" [threshold]="0.6">Acciones</app-scroller>
    </div>
  }

</main>
