<main class="container-fluid">
  <h1 class="visually-hidden">Home</h1>
  <div class="card my-3">
    <div class="card-body p-0">
      <div class="p-3">
        <label for="buscar" class="form-label">Buscar</label>
        <ng-select labelForId="buscar" [compareWith]="compareWith" groupBy="tipo" (change)="selectMarker($event)">
          @for (element of searchableElems; track element.marker) {
            <ng-option [value]="element">{{ element.label }}</ng-option>
          }
        </ng-select>
      </div>
      <app-map id="map" [loading]="loading()">
        @if (!panel()) {
        <ng-template appMapPanel>
            <fa-icon [icon]="faInfoCircle" alt=""/>
            Seleccione un marcador en el mapa para ver la información disponible
          </ng-template>
        }
      </app-map>
    </div>
    @if (canAddPuntos()) {
      <div class="card-footer d-flex justify-content-end">
        <a role="button" class="btn btn-primary d-block d-sm-inline" routerLink="/puntos/create" [state]="{ backlink: ['/'] }">
          Agregar Punto de Interés...
        </a>
      </div>
    }
  </div>
</main>

