<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">App</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (link of links; track link.route) {
          <li class="nav-item">
            <a [routerLink]="link.route" routerLinkActive="active" class="nav-link" (click)="isNavbarCollapsed.set(true)">
              {{ link.title }}
            </a>
          </li>
        }
      </ul>
      
      @if (user(); as user) {
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" id="userDropdown" role="button" ngbDropdownToggle>
              <span class="d-none d-sm-inline">{{ user.name }}</span>
              <img ngSrc="assets/user.svg" width="32" height="32" class="rounded-circle bg-light border">
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow-sm border-0" aria-labelledby="userDropdown" ngbDropdownMenu>
              <div class="p-3">
                <div class="d-flex align-items-center gap-3">
                  <div>
                    <div class="fw-bold text-nowrap">{{ user.name }}</div>
                    <div class="small text-muted">{{ user.email }}</div>
                  </div>
                  <img ngSrc="assets/user.svg" width="48" height="48" alt="Avatar" class="rounded-circle bg-light border">
                </div>
              </div>
              <div class="dropdown-divider m-0"></div>
              <button ngbDropdownItem class="p-2" (click)="logout()">
                <fa-icon [icon]="faRightFromBracket"></fa-icon>
                Cerrar Sesión
              </button>
            </div>
          </li>
        </ul>
      }
    </div>
  </div>
</nav>
<!-- aquí se renderizan los componentes navegables -->
<router-outlet></router-outlet>