<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">App</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbarCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="isNavbarCollapsed()">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (link of links; track link.route) {
          <li class="nav-item">
            <a [routerLink]="link.route" routerLinkActive="active" class="nav-link" (click)="isNavbarCollapsed.set(true)">
              {{ link.title }}
            </a>
          </li>
        }
      </ul>
      
      @if (user(); as user) {
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
            <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" id="userDropdown" role="button" ngbDropdownToggle>
              <img ngSrc="assets/user.svg" width="32" height="32" class="rounded-circle bg-light border">
              <span class="d-none d-sm-inline">{{ user.name }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end shadow-sm border-0" aria-labelledby="userDropdown" ngbDropdownMenu>
              <div class="p-3">
                <div class="d-flex align-items-center gap-3">
                  <img ngSrc="assets/user.svg" width="48" height="48" alt="Avatar" class="rounded-circle bg-light border">
                  <div>
                    <div class="fw-bold text-nowrap">{{ user.name }}</div>
                    <div class="small text-muted">{{ user.email }}</div>
                  </div>
                </div>
              </div>
              <div class="dropdown-divider m-0"></div>
              <div class="p-2">
                <button ngbDropdownItem class="dropdown-item d-flex align-items-center" (click)="logout()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg>
                  Cerrar Sesión
                </button>
              </div>
            </div>
          </li>
        </ul>
      }
    </div>
  </div>
</nav>
<!-- aquí se renderizan los componentes navegables -->
<router-outlet></router-outlet>