<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="row g-2 mb-3">
        <div class="col-12 col-md-4">
            <!-- Información Básica -->
            <section class="card mb-2">
                <h5 class="card-header">Información Básica</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" class="form-control" formControlName="nombre"
                            [class.is-invalid]="nombre.touched && nombre.invalid">
                        @if (nombre.touched && nombre.errors; as errors) {
                          <div class="form-text text-danger small">
                            @if (errors['required']) {
                              El nombre es requerido.
                            }
                            @else if (errors['minlength']; as e) {
                              Debe tener al menos {{ e.required }} caracteres.
                            }
                          </div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="estadoAgua" class="form-label">Estado del Agua</label>
                        <select id="estadoAgua" class="form-select" formControlName="estadoAgua">
                            <option value="APTO">Apto</option>
                            <option value="PRECAUCION">Precaución</option>
                            <option value="NO_APTO">No Apto</option>
                        </select>
                    </div>
                </div>
            </section>

            <!-- Servicios Disponibles -->
            <section class="card">
                <h5 #swHeading class="card-header">Servicios Disponibles</h5>
                <div class="card-body">
                    <fieldset [ariaLabelledByElements]="[swHeading]">
                      <div class="row row-cols-1 row-cols-sm-2 g-2">
                          <div class="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formControlName="auxilio" id="swAuxilio">
                                  <label class="form-check-label" for="swAuxilio">Auxilio</label>
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formControlName="banos" id="swBanos">
                                  <label class="form-check-label" for="swBanos">Baños</label>
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formControlName="rampa" id="swRampa">
                                  <label class="form-check-label" for="swRampa">Rampa</label>
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formControlName="vigilancia" id="swVigilancia">
                                  <label class="form-check-label" for="swVigilancia">Vigilancia</label>
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formControlName="parrillas" id="swParrillas">
                                  <label class="form-check-label" for="swParrillas">Parrillas</label>
                              </div>
                          </div>
                          <div class="col">
                              <div class="form-check">
                                  <input class="form-check-input" type="checkbox" formControlName="bus" id="swBus">
                                  <label class="form-check-label" for="swBus">Bus</label>
                              </div>
                          </div>
                      </div>
                    </fieldset>
                </div>
            </section>
        </div>

        <!-- Ubicación -->
        <div class="col-12 col-md-8">
            <section class="card">
                <h5 class="card-header">
                    Ubicación
                    <button type="button" class="btn btn-sm btn-link py-0 px-1 align-bottom" (click)="detectarUbicacion()" [disabled]="detectando()">
                        <fa-icon [icon]="faLocationCrosshairs"></fa-icon>
                    </button>
                </h5>
                <div class="card-body p-0">
                    <div #mapContainer style="height: 500px; width: 100%;"></div>
                </div>
                <div class="card-footer small">
                    @let latitud = form.get('latitud');
                    @let longitud = form.get('longitud');

                    @if ((latitud?.touched && latitud?.errors?.['required']) ||
                        (longitud?.touched && longitud?.errors?.['required'])) {
                        <div class="text-danger">Seleccione una ubicación en el mapa</div>
                    } @else {
                        Haga clic en el mapa para ajustar la ubicación.
                    }
                </div>
            </section>
        </div>
    </div>

    <app-fixed-footer>
        <div class="d-flex justify-content-end w-100">
            <div class="ms-auto">
                <a [routerLink]="backLink()" class="btn me-2">Cancelar</a>
                <button type="submit" class="btn btn-primary" [disabled]="guardando()">
                    Guardar
                    @if (guardando()) {
                        <span class="spinner-border spinner-border-sm ms-2" role="status">
                        <span class="visually-hidden">Guardando</span>
                        </span>
                    }
                </button>
            </div>
        </div>
    </app-fixed-footer>
</form>
