/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "@ng-select/ng-select/themes/default.theme.css";

.ng-select {
  .ng-select-container {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
  }

  &.ng-select-multiple .ng-select-container .ng-value-container {
    .ng-input > input {
      color: var(--bs-body-color);
    }
    .ng-value, .ng-value {
      color: var(--bs-primary-text);
      background-color: var(--bs-primary);
    }
  }
}

.ng-dropdown-panel {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);

  &.ng-select-bottom {
    border-top-color: var(--bs-border-color-translucent);
  }

  .ng-dropdown-panel-items .ng-option {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-body-bg) !important;
    // border: var(--bs-border-width) solid var(--bs-border-color) !important;
  }
}


h1 {
    margin-top: 0.3em;
    margin-bottom: 0.25em;
}

.mark-required::after {
  content: '*';
  color: var(--bs-danger);
  font-weight: bold;
  margin-left: 0.125em;
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

[data-bs-theme="dark"] {
  @media (prefers-color-scheme: dark) {
    .map-tiles {
      filter:var(--map-tiles-filter, none);
    }
  }
}
