server {
    listen 80;

    # Frontend
    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;  # SPA fallback
    }

    gzip on;
    gzip_types text/css application/javascript image/svg+xml;
}
