/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

h1 {
    margin-top: 0.3em;
    margin-bottom: 0.25em;
}

.mark-required::after {
  content: '*';
  color: var(--bs-danger);
  font-weight: bold;
  margin-left: 0.125em;
}

:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

[data-bs-theme="dark"] {
  @media (prefers-color-scheme: dark) {
    .map-tiles {
      filter:var(--map-tiles-filter, none);
    }
  }
}
