<div class="container-fluid">
    <h1>Puntos de Interés</h1>
    @if (puntos$|async; as paginator) {
        <div class="card">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Subcategoría</th>
                                <th scope="col">Descripción</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (punto of paginator.data; track punto) {
                                <tr>
                                    <td>{{ punto.id }}</td>
                                    <td>{{ punto.nombre }}</td>
                                    <td>
                                        <div class="badge bg-danger">{{ punto.categoria }}</div>
                                    </td>
                                    <td>
                                        <div class="badge bg-secondary">{{ punto.subcategoria }}</div>
                                    </td>
                                    <td>{{ punto.descripcion }}</td>
                                    <td>
                                        <a [routerLink]="['/puntos', punto.id]" aria-label="Ver detalle">
                                            <fa-icon [icon]="faEye"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <nav aria-label="Paginación">
                    <ul class="pagination mb-0">
                        <li class="page-item" [class.disabled]="paginator.paginatorInfo.currentPage == 1">
                            <button class="page-link" (click)="previousPage()">
                                <span class="visually-hidden">Página anterior</span>
                                &laquo;
                            </button>
                        </li>
                        @for (page of range(1, paginator.paginatorInfo.totalPages); track page) {
                            <li class="page-item" [class.active]="page === paginator.paginatorInfo.currentPage">
                                <button class="page-link" (click)="page$.next(page)">
                                    <span class="visually-hidden">Página {{ page }}</span>
                                    {{ page }}
                                </button>
                            </li>
                        }
                        <li class="page-item" [class.disabled]="paginator.paginatorInfo.currentPage == paginator.paginatorInfo.totalPages">
                            <button class="page-link" (click)="nextPage(paginator.paginatorInfo.totalPages)">
                                <span class="visually-hidden">Página siguiente</span>
                                &raquo;
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    }
</div>
<app-fixed-footer>
    <div class="d-flex justify-content-end w-100">
        <div class="ms-auto">
            <a role="button" class="btn btn-primary" [routerLink]="['/puntos/create']">Agregar</a>
        </div>
    </div>
</app-fixed-footer>