<main class="container-fluid">
  <h1>Usuario #{{ userId() }}</h1>
  @if (user.isLoading()) {
    <div class="alert alert-light">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Cargando...
    </div>
  }
  @if (user.error(); as e) {
    <div class="alert alert-danger" role="alert">
      <strong>No se pudo cargar el usuario</strong>
      <div>{{ getUserFriendlyErrorMessage(e, 'Usuario') }}</div>
    </div>
  }
  @if (user.hasValue() && user.value(); as user) {
    <div class="card">
      <h5 class="card-header">Información Básica</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico</label>
          <input type="text" id="email" class="form-control" [value]="user.email" readonly />
        </div>
        <div class="mb-3">
          <label for="fullname" class="form-label">Nombre Completo</label>
          <input type="text" id="fullname" class="form-control" [value]="user.fullname" readonly />
        </div>
        <div class="mb-3">
          <label id="roles-label" class="form-label">Roles</label>
          <div class="form-control" aria-labelledby="roles-label">
            @for (role of user.roles; track role.id) {
            <span class="badge text-bg-primary">{{ role.nombre }}</span>
            } @empty {
            <span class="text-muted">Sin roles asignados</span>
            }
          </div>
        </div>
        <div class="row g-2">
          <div class="col-12 col-md-6 mb-3">
            <label for="createdAt" class="form-label">Fecha de Alta</label>
            <input type="text" id="createdAt" class="form-control" [value]="user.createdAt | date:'dd/MM/y HH:mm'" readonly />
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="updatedAt" class="form-label">Última Modificación</label>
            <input type="text" id="updatedAt" class="form-control" [value]="user.updatedAt | date:'dd/MM/y HH:mm'" readonly />
          </div>
        </div>
      </div>
    </div>
  }
  <app-fixed-footer>
    <div class="d-flex justify-content-end w-100">
      <a role="button" class="btn focus-ring" [routerLink]="['/users']">Volver</a>
      @if (user.hasValue() && user.value(); as user) {
        <a [routerLink]="['/users', user.id, 'edit']" class="btn btn-primary">Editar</a>
      }
    </div>
  </app-fixed-footer>
</main>
