<main class="container-fluid">
    <h1>Puntos de Interés</h1>
    @if (puntos$|async; as paginator) {
        <div class="card">
            <div class="card-body" [class.p-0]="paginator.data.length > 0">
              @if (paginator.data.length > 0) {
                <div class="table-responsive">
                    <table class="table table-striped mb-0" summary="Listado de Puntos de Interés - Página {{ paginator.paginatorInfo.currentPage }}">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Subcategoría</th>
                                <th scope="col">Descripción</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (punto of paginator.data; track punto) {
                                <tr>
                                    <td>{{ punto.id }}</td>
                                    <td>{{ punto.nombre }}</td>
                                    <td>
                                        <div class="badge bg-danger">{{ punto.categoria }}</div>
                                    </td>
                                    <td>
                                        <div class="badge bg-secondary">{{ punto.subcategoria }}</div>
                                    </td>
                                    <td>{{ punto.descripcion }}</td>
                                    <td>
                                        <a [routerLink]="['/puntos', punto.id]" aria-label="Ver detalle">
                                            <fa-icon [icon]="faEye"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
              } @else {
                No hay puntos de interés cargados.
              }
            </div>
            @if (paginator.data.length > 0) {
              <div class="card-footer d-flex justify-content-end">
                  <app-paginator [info]="paginator.paginatorInfo" (pageChange)="page$.next($event)" />
              </div>
            }
        </div>
    }
</main>
<app-fixed-footer>
    <div class="d-flex justify-content-end w-100">
        <div class="ms-auto">
            <a role="button" class="btn btn-primary" [routerLink]="['/puntos/create']">Agregar...</a>
        </div>
    </div>
</app-fixed-footer>
