<main class="container-fluid">
    <h1>Puntos de Interés</h1>
    @if (puntos.error(); as e) {
        <div class="alert alert-danger" role="alert">
            <strong>No se pudieron cargar los puntos de interés</strong>
            <div>{{ getUserFriendlyErrorMessage(e, 'Punto de interés') }}</div>
        </div>
    }
    @if (puntos.isLoading()) {
        <div class="alert alert-light">
            <span class="spinner-border spinner-border-sm"></span>
            Cargando...
        </div>
    }
    @if (puntos.hasValue() && puntos.value(); as paginator)  {
        <div class="card">
            <div class="card-body" [class.p-0]="paginator.data.length > 0">
              @if (paginator.data.length > 0) {
                <div class="table-responsive">
                    <table class="table table-striped mb-0" summary="Listado de Puntos de Interés - Página {{ paginator.paginatorInfo.currentPage }}">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Subcategoría</th>
                                <th scope="col" class="text-center">Fecha de Alta</th>
                                <th scope="col" class="text-center">Última Modificación</th>
                                <th scope="col"><span class="visually-hidden">Acciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (punto of paginator.data; track punto) {
                                <tr>
                                    <td>{{ punto.id }}</td>
                                    <td>{{ punto.nombre }}</td>
                                    <td>
                                        <div class="badge text-bg-danger">{{ punto.categoria }}</div>
                                    </td>
                                    <td>
                                        <div class="badge text-bg-secondary">{{ punto.subcategoria }}</div>
                                    </td>
                                    <td class="text-center">{{ punto.createdAt | date:'dd/MM/y HH:mm' }}</td>
                                    <td class="text-center">{{ punto.updatedAt | date:'dd/MM/y HH:mm' }}</td>
                                    <td>
                                        <a [routerLink]="['/puntos', punto.id]" aria-label="Ver detalle">
                                            <fa-icon [icon]="faEye"></fa-icon>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
              } @else {
                No hay puntos de interés cargados.
              }
            </div>
            @if (paginator.data.length > 0) {
              <div class="card-footer d-flex justify-content-end">
                  <app-paginator [info]="paginator.paginatorInfo" (pageChange)="page.set($event)" />
              </div>
            }
        </div>
    }
</main>
<app-fixed-footer>
    <div class="d-flex justify-content-end w-100">
        <div class="ms-auto">
            <a role="button" class="btn btn-primary" [routerLink]="['/puntos/create']">Agregar...</a>
        </div>
    </div>
</app-fixed-footer>
